<%= form_for @user do |f|%>
	<% if @user.errors.present? %>
	<p>There are problems with the following fields:</p>
	<ul>
		<% @user.errors.full_messages.each do|message| %>
			<li> 
				<%= message %>
			</li>
		<% end %>
	</ul>
	<%end%>
	<%= f.label :email %> 
	<%= f.email_field :email %>
	<%= f.label :password %> 
	<%= f.password_field :password %>
	<%= f.label :password_confirmation %> 
	<%= f.password_field :password_confirmation %>
	<%= f.submit "Sign up!" %>
<%end%>