<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% Post.texts.each do |text,_| %>
    <%= f.radio_button :text,text%>
    <%= f.label "text_#{text}",text %>
  <% end%>
  <div class="actions">
    <%= f.submit "Go!", class: 'btn btn-default' %>
  </div>
<% end %>
