<%= form_for(@post) do |f| %>
  <%= render "shared/error_messages", object:@post %>
  <div class="btn-group" data-toggle="buttons">
  <% Post.texts.each do |text,_| %>
    <label class="post-text btn btn-default <%= 'active' if f.object.text == text %>">
      <%= text %>
      <%= f.radio_button :text,text %>
    </label>
  <% end%>
  </div>
  <div class="actions">
    <%= f.submit "Go!", class: 'btn btn-black' %>
  </div>
<% end %>
