<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>naNO|<%= t "title.#{controller_name}.#{action_name}" %></title>
  <link href='http://fonts.googleapis.com/css?family=Limelight' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Bubblegum+Sans' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header class="container" role="banner">
		<div class="row">
			<div class="col-sm-4 short-container">
				<h1> <%= link_to 'naNO', current_user || root_path %>
				</h1>
			</div>
			<div class="col-sm-8">
				<% if current_user%>
					<%= button_to 'Sign Out', session_path, method: :delete, class: "btn-link pull-right"%>
				<% elsif !(current_page? root_path)%>
					<%=link_to 'Sign In', root_path, class: "pull-right"%>
				<%end%>

			</div>
		</div>
	</header>

	<main class="container" role="main">
		<% flash.each do |key,value| %>
			<div class ="alert alert-<%= key %>"><%=value %></div>
		<%end%>
		<%= yield %> 
	</main>
</body>
</html>
